<p style="text-align: center; background-color: white;">
  <a href="https://github.com/dvgodoy/LLM-visuals/">Home</a> |
  <a href="https://dvgodoy.github.io/LLM-visuals/Chat%20Templates/">Chat Templates</a> | 
  <a href="https://dvgodoy.github.io/LLM-visuals/Data%20Types/">Data Types</a> | 
  <a href="https://dvgodoy.github.io/LLM-visuals/LoRA/">LoRA</a> | 
  <a href="https://dvgodoy.github.io/LLM-visuals/Quantization/">Quantization</a> | 
  <a href="https://dvgodoy.github.io/LLM-visuals/SFT/">SFT</a>
</p>